html, body{
  font-family: 'Lato', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.navbar-dark, .bg-dark{
  background-color: #ff77aa !important;
}
.display-4{
  font-family: 'Dancing Script', cursive;

}
.btn-primary, .btn-dark{
  background-color: #64a1f4;
  border-color: transparent;
  margin: 0.5rem 0;
}
.btn-primary:hover, .btn-dark:hover{
  background-color: #3b7dd8;
  border-color: transparent;
}
.card-body h5{
  text-align: center;
}
i{
  margin: 5px;
}
.footer-container{
  margin: 0;
  padding: 2.5rem;
  text-align: center;
}
.footer-container a:hover{
  text-decoration: none;
}